DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
NEXTAUTH_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
SUPREME_ADMIN_ROLE_ID=
BOT_API_URL=
BOT_API_SECRET=
